<h1>
  Tools for Spotify
</h1>
{{#unless loggedIn}}
<a class="b primary" onclick="login()">LOGIN</a>
{{else}}
Hi {{data.username}}!<br>
<a class="b primary" href="/logout">LOGOUT</a>
{{/unless}}
<hr>
<h2>
  Documentation
</h2>
<h3>Index</h3>
<ol>
  <li>General
    <ol>
      <li><a href="#query">Query Structure</a></li>
      <li><a href="#export">Destinations</a></li>
      <li><a href="#playlist">Playlist Types</a></li>
    </ol>
  </li>
  <li><a href="#authentication">Authentication</a></li>
  <li><a href="#backup">Backup</a></li>
  <li><a href="#analyze">Analyze</a></li>
  <li><a href="#generate">Generate</a></li>
  <li><a href="#params">Query Parameters</a></li>
</ol>
<hr>
<h3>General</h3>
<h4 id="query">Query Structure</h4>
<p>
  A query consists out of three parts:<br>
  <ol>
    <li>Action (Backup, Analyze etc.).</li>
    <li>Destination (Spotify, JSON, CSV)</li>
    <li>Playlist Identifier. See more at <a href="#playlist">Playlist Types</a>.</li>
  </ol>
  Query Format:
  <pre><code>{{data.host}}/:action/:destination/:playlist</code></pre>
</p>
<h4 id="export">Destination Types</h4>
<p>
  The Destination type defines the data-type an action should return.<br>
  Destinations supported by <i>all</i> actions:
  <ul>
    <li>
      <code>json</code>
    </li>
    <li>
      <code>csv</code>
    </li>
  </ul>
  Action specific Destination types:
  <ul>
    <li>Backup
      <ul>
        <code>spotify</code>:<br>
        Creates a new private playlist from the read Tracks.
      </ul>
    </li>
    <li>Generate
      <ul>
        <code>spotify</code>:<br>
        Creates a new private playlist from the generated Tracks.
      </ul>
    </li>
    <li>Analyze
      <ul>
        <code>charts</code>:<br>
        The Charts destination type displays a page with multiple charts representing the playlist itself.
      </ul>
    </li>
  </ul>
</p>
<h4 id="playlist">Playlist Types</h4>
<p>
  There are three types of arguments you can supply to the playlist part of a query.<br>
  These are:
  <ol>
    <li><code>recent</code>:<br>
      Uses your 50 most recently played songs.
    </li>
    <li><code>saved</code>:<br>
      Uses your "liked/saved" songs.
    </li>
    <li><code>:playlist</code>:
      Uses the Spotify Playlist with the said ID or URI. (e.g. <code>37i9dQZF1DWUKPeBypcpcP</code> or <code>spotify:playlist:37i9dQZF1DWUKPeBypcpcP</code>)</li>
  </ol>
</p>
<hr>
<h3 id="authentication">Authentication</h3>
<p>
  There are two ways to provide authentication:
  <ol>
    <li>
      Authenticating via the Log-In Button on this page or below:<br>
      {{#unless loggedIn}}
      <a class="b primary" onclick="login()">LOGIN</a>
      {{else}}
      <i>(You are already logged in)</i>
      {{/unless}}
      <br><br>
      The authentication is stored in your browsers cookies and is renewed automatically if it expires.
    </li><br>
    <li>
      Supplying a token via the query parameter <code>token</code>.<br>
      This can be useful if you're in an
      environment where you are not able to store cookies locally for example in an embedded context.
      You can generate a token/view your token at <a href="/token">{{data.host}}/token</a>.
    </li>
  </ol>
</p>
<hr>
<h3 id="backup">Backup</h3>
<p>Collects the songs from the supplied playlist and depending on the destination
  type creates a new playlist or returns them in a file format.</p>
<hr>
<h3 id="analyze">Analyze</h3>
<p>Analyzes the tracks on specific audio features like dancability, tempo, mode or acousticness and
  returns them in the requested format.</p>
<hr>
<h3 id="generate">Generate</h3>
<p>Generates recommendations based on the supplied playlist. The amount of recommendations to generate is controlled by the query parameter <code>amount</code>.
The amount defaults to 50 and the maximum amount of recommendations to generate is 1000.</p>
<hr>
<h3 id="params">Query Parameters</h3>
<h4><code>token</code></h4>
<p>Used to authenticate without cookies. For more Information see <a href="/token">Token</a>.</p>
<h4><code>limit</code></h4>
<p>Used to define the maximum amount of retrieved tracks.<br>
Default: 50
Max: 2500</p>
<h4><code>reverse</code></h4>
<p>Reverses the track order.<br>
Default: false
</p>
<h4><code>shuffle</code></h4>
<p>Shuffles your supplied playlist before further processing.<br>
Default: false
</p>
<h4><code>unique</code></h4>
<p>Removes duplicates.<br>
Note: Can reduce playlist length significantly when used with the Generate action on outputs amounts higher than 100 songs.
Default: false
</p>